.homebox {
  width: 75%;
  background: #ccc;
  border: 1px solid #333;
  padding: 1em;
  
}

.newItem {
  border: 1px solid #16a;
  border-radius: 3px;
  background: #16a;
  color: #fff;
  padding: 0.3rem 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}

td p {
  margin-bottom: 0;
}

td p a {
  padding: 0 10px;
}
